@import views.Collector
@import helpers.main

@(tname: String, cols: List[String], table: List[List[String]], collector : Collector = new Collector())(implicit request: RequestHeader)

@collector.scripts {
    <script type="text/javascript" src="//cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>

    <script >
            $(function() {
                $('table').DataTable({
                    "scrollX": true,
                    columnDefs: [ {
                        targets: "_all",
                        render: function ( data, type, row ) {
                            return data.substr( 0, 200 );
                        }
                    } ]

                } );
            });
    </script>
}

@collector.css {
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.16/css/jquery.dataTables.css">
}



@main("debug", collector) {
    <h1>Table: @tname </h1>
    <div class="spacer"></div>
    <p> ( @cols.length columns, and @table.length rows) </p>
    <div class="float-ur"><a href="/debug/tables" class="btn btn-info">List of Tables</a></div>
    <table class="display">
        <thead class="">
            <tr>
                <th scope="col">#</th>

                @for(c <- cols) {
                    <th scope="col">@c</th>
                }
            </tr>
        </thead>
        <tbody>
            @for( tr <- table) {
            <tr>
                <th scope="row">1</th>
                @for( td <- tr) {
                    <td>@td</td>
                }
            </tr>
            }
        </tbody>
    </table>
}