@import dbio.TableWrappers.WRow

@(w: WRow, diagramID: Long)

@main(w.name) {

    <div class = "container-fluid d-flex flex-column flex-fill">
        <div class="row"><div class="col-12"><h1>@w.name </h1></div></div>
        <div class="row flex-fill inner-container">
            <div class="col-xl-2 col-lg-3 col-md-4 col-sm-5 col-12 flex-fill d-flex flex-column">
                <p class="small text-muted"> @w.descr </p>
                <textarea class="console flex-fill"></textarea>
            </div>

            <div class="col-xl-10 col-lg-19 col-md-8 col-sm-7 col-12 flex-fill d-flex flex-column">
                <canvas id="DRAW" resize="true" class="flex-fill"></canvas>
            </div>
        </div>
    </div>

    <div id="footer" class="fixed-bottom">
        <div class="btn-toolbar float-right" role="toolbar" aria-label="Toolbar with button groups">
            <div class="btn-group mr-2" role="group" aria-label="First group">
                <button type="button" class="btn btn-secondary">Point</button>
                <button type="button" class="btn btn-secondary">Segment</button>
                <button type="button" class="btn btn-secondary">Area</button>
            </div>
            <div class="btn-group mr-2" role="group" aria-label="Second group">
                <button type="button" class="btn btn-secondary">Cut</button>
                <button type="button" class="btn btn-secondary">Glue</button>
                <button type="button" class="btn btn-secondary">Transform</button>
            </div>
            <div id="dual_button" class="btn-group" role="group" aria-label="Third group">
                <button type="button" class="btn btn-secondary">Dual</button>
            </div>
        </div>
    </div>
}{
    <script src="https://cdnjs.cloudflare.com/ajax/libs/paper.js/0.11.4/paper-full.js"></script>
    <script type="text/javascript" src="@routes.Assets.at("js/lib/versor.js")"></script>
    <script type="text/javascript" src="@routes.Assets.at("js/lib/C2.js")"></script>
    <script type="text/javascript" src="@routes.Assets.at("js/lib/C3.js")"></script>


    <script type="text/javascript" src="@routes.Assets.at("js/util.js")"></script>
    <script type="text/javascript" src="@routes.Assets.at("js/maths.js")"></script>
    <!--    load core.js as first paper module (but after paper.js, util and maths)  -->
    <script type="text/javascript" src="@routes.Assets.at("js/core.js")"></script>
    <script type="text/javascript" src="@routes.Assets.at("js/tools.js")"></script>
    <!--    load interface.js last -->
    <script type="text/javascript" src="@routes.Assets.at("js/interface.js")"></script>

    <script type="text/javascript">
        window.diagram_id = @diagramID ; /* this can easily be traced with session ID + sent over */
    </script>
}
