@import dbio.TableWrappers.WRow

@(w: WRow, diagramID: Long)

@toolButton(name: String, icon:String) = {
    <button class="btn btn-outline-primary tool" id="@name-button" data-tool="@name">
        &nbsp;<i class="fas fa-@icon"></i> <br/>
        <span class="tool-text">@name.capitalize</span>
    </button>
}

@actionButton(text: String, icon:String) = {
    <button class="btn btn-outline-dark"> <i class="fas fa-@icon"></i>  <br/><span class="">@text.capitalize</span></button>
}

@main(w.name) {

    <div class = "container-fluid d-flex flex-column flex-fill">
        <div class="row"><div class="col-12"></div></div>
        <div class="row flex-fill" id="inner-container">
            <div id="left-bar" class="col-xl-2 col-lg-3 col-md-4 col-sm-5 col-12 flex-fill d-flex flex-column">
                <h1 class="overset"> @w.name </h1>

                <div style="position:relative;" class="flex-fill d-flex flex-column">
                    <p class="small text-muted"> @w.descr </p>
                    <textarea class="console flex-fill"></textarea>
                    <a class="float-ul"> <i class="fas fa-angle-left"></i></a>
                </div>

            </div>

            <div class="col-xl-10 col-lg-19 col-md-8 col-sm-7 col-12 flex-fill d-flex flex-column lean">
                <canvas id="DRAW" resize="true" class="flex-fill"></canvas>
            </div>

            <div id="tools-bar" class="float-ul">
                <div class="spacer"></div>
                <h4>Tools</h4>
                @toolButton("manual", "mouse-pointer")
                @toolButton("draw", "pencil-alt")
                @toolButton("erase", "eraser")
                @toolButton("move", "arrows-alt")
                @toolButton("manual", "mouse-pointer")
                @toolButton("view", "eye")


                <hr/>
                <div class="spacer"></div>

                @actionButton("save", "save")
                @actionButton("align", "save")

            </div>
        </div>
    </div>





    <div id="footer" class="fixed-bottom">
        <div class="btn-toolbar float-right" role="toolbar" aria-label="Toolbar with button groups">
            <h4>Saved Shapes</h4>

            @actionButton("square", "square")

        </div>
    </div>
}{
    <script src="https://cdnjs.cloudflare.com/ajax/libs/paper.js/0.11.4/paper-full.js"></script>
    <script type="text/javascript" src="@routes.Assets.at("js/lib/versor.js")"></script>
    <script type="text/javascript" src="@routes.Assets.at("js/lib/C2.js")"></script>
    <script type="text/javascript" src="@routes.Assets.at("js/lib/C3.js")"></script>


    <script type="text/javascript" src="@routes.Assets.at("js/util.js")"></script>
    <script type="text/javascript" src="@routes.Assets.at("js/maths.js")"></script>
    <!--    load core.js as first paper module (but after paper.js, util and maths)  -->
    <script type="text/javascript" src="@routes.Assets.at("js/core.js")"></script>
    <script type="text/javascript" src="@routes.Assets.at("js/tools.js")"></script>
    <!--    load interface.js last -->
    <script type="text/javascript" src="@routes.Assets.at("js/interface.js")"></script>

    <script type="text/javascript">
        window.diagram_id = @diagramID ; /* this can easily be traced with session ID + sent over */
    </script>
}
