@import dbio.TableWrappers.WRow
@import java.time.Instant
@import java.time.Duration
@import generic.Utils

@(workspaces: Map[Long, WRow])

@card(id: Int, w : WRow) = {
    <div class="col-auto mb-3">
        <div class="card text-white bg-dark mb-3" style="width:25rem;">
            <img class="card-img-top" src="@w.thumburl" alt="Diagram Preview">
            <div class="card-body">
                <h5 class="card-title">@w.name</h5>
                <p class="card-text">@w.descr</p>
                <a href="/w/@id/" class="btn btn-outline-info float-right">Load</a>
            </div>
            <div class="card-footer">
                <small class="text-muted">Last updated @Utils.since(w.modified) ago</small>
            </div>
        </div>
    </div>
}

@main("Welcome", active="home") {
    <div class = "container-fluid d-flex flex-column flex-fill">
        <div class="row">
            <div class="container">
                <div class="spacer"></div>
                <h1 class="title"><span class="wrap">Sky Diamond</span></h1>
                <p>
                    This is an in-progress diagrammatic theorem prover, based loosely on
                    <a href="http://www.cl.cam.ac.uk/~mj201/publications/pub873.drii-ijcai1997.pdf">DIAMOND</a>, a diagrammatic proof assistant
                    created by Mateja Jamnik in 1997. The present version is an attempt to unify some existing languages, and add
                    more sophisticated proof search and automation capabilities.

                    For more information, see the link in the navbar above.
                </p>
                <div class="spacer"></div>

                <h2>Create a New Diagrammatic Workspace</h2>

                <div class="spacer"></div>

                <div class="row">
                    <div class="col-xs-10 col-sm-9 col-md-7 col-lg-6">
                        <div class="row">
                            <div class="col-12 col-md-7">
                                <input id="wn-input" type="text" class="form-control minimal" placeholder="Name" aria-label="Workspace Name" >
                            </div>
                            <div class="col-12 col-md-5">
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <label class="input-group-text" for="inputGroupSelect01">Options</label>
                                    </div>
                                    <select class="custom-select" id="inputGroupSelect01">
                                        <option selected>Choose...</option>
                                        <option value="E2">2D Euclidean</option>
                                        <option value="C2">Two</option>
                                        <option value="E3">Three</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <textarea class="form-control minimal" id="wd-area" type="text" class="form-control" placeholder="Description" aria-label="Workspace Description" rows="2"></textarea>
                    </div>
                    <button id="create" class="btn btn-md btn-outline-primary"><i class="fas fa-paint-brush"></i><br/>
                        Create</button>
                </div>

            </div>
        </div>

        <div class="spacer"></div>
        <div class="spacer"></div>

        <div class="row custom-dark-bg flex-fill">
            <div class="container-fluid">
                <div style="position:absolute; width:5px; bottom:0px; left:2px; background-color:#F00"></div>

                <div class="spacer"></div>
                <h2>Load an Existing Theorem</h2>
                <div class="spacer"></div>

                <div class="row justify-content-center"> <!--- card deck --->

                    @for((i, w) <- workspaces) {
                        @card(i.toInt, w)
                    }

                </div>
            </div>
        </div>
    </div>
} {
    <script>
        $(function() {
            var $wn = $('#wn-input')
            $wn.keypress(function() {
                $wn.removeClass('border border-danger');
            })

            $("#create").click(function() {
                var n =  $wn.val();
                var d =  $('#wd-area').val();

                if(!n) {
                    $wn.addClass('border border-danger');
                } else {
                    $.get('/w/new', {name: n, descr: d})
                        .done(function (data) {
                            window.location.href = '/w/' + data+ "/";
                         }
                    )
                }
            });

            $("#load").click(function() {
                $.get('/').done(function(data) {
                    console.log(data)
                })
            })
        })
    </script>
}
